<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'create_receipt'%}"> Create Receipt</a>
                </li>


                <li>
                    <a href="{% url 'logout'%}"> Logout</a>
                </li>

                <li>
                    <a href="{% url 'login'%}"> Login</a>
                </li>

                <li>
                    <a href="{% url 'signup'%}"> Signup </a>
                </li>

            </ul>
        </nav>
    </header>
    <main>
        <h1> My Receipts</h1>
        <table>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
            {%for item in receipt%}
            <tr>
                <td>{{item.vendor}}</td>
                <td>{{item.total}}</td>
                <td>{{item.tax}}</td>
                <td>{{item.date | date:'m/j/y' }}</td>
                <td>{{item.category.name}}</td>
                <td>{{item.account.name}}</td>




            </tr>
            {%endfor%}
        </table>

    </main>

</body>

</html>
